span.rbc-btn-group button {
	font-size: 12px;
	padding: 2px 4px;
	font-weight: 600;
	border: 0;
}
span.rbc-toolbar-label {
	font-size: 12px;
	font-weight: 700;
}
.rbc-toolbar {
	position: absolute;
	top: 18px;
	right: 10px;
}
.rbc-month-view * {
	border: 0 !important;
}
.rbc-month-view {
	border: 0;
}
.rbc-header span {
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
}
.rbc-day-bg.rbc-off-range-bg {
	opacity: 0;
}
.rbc-date-cell.rbc-off-range {
	opacity: 0;
}
.rbc-date-cell a {
	font-size: 12px;
	font-weight: 400;
	color: #444;
}
.rbc-date-cell {
	text-align: center;
}
.rbc-today {
	background-color: #ffca18;
}
now.rbc-current a {
	color: #fff;
	font-weight: 600;
}
.rbc-row.rbc-month-header {
	margin-bottom: 8px;
}
.rbc-event-content {
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
}
.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
	background-color: #222;
	color: #fff;
	outline: none;
}
.rbc-event,
.rbc-day-slot .rbc-background-event {
	background-color: #ffca18;
	color: #222;
}
.rbc-toolbar .rbc-btn-group:first-child button:first-child {
	display: none;
}

a.rbc-show-more {
	font-size: 9px;
	text-transform: uppercase;
}
.rbc-toolbar .rbc-toolbar-label {
	color: #222;
	text-transform: uppercase;
	margin-top: 3px;
}
.rbc-toolbar button:active,
.rbc-toolbar button:hover,
.rbc-toolbar button.rbc-active {
	box-shadow: none;
	border-radius: 0 !important;
	background: #eee !important;
}

.rbc-time-header.rbc-overflowing {
	display: none;
}
span.rbc-label {
	font-size: 12px;
	font-weight: 600;
	color: #222;
}
.rbc-time-content {
	border-top: 0px;
}
.rbc-event-label {
	font-size: 10px;
	font-weight: 600;
}
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
	flex-direction: column !important;
	flex-flow: column;
	padding-bottom: 30px;
}
.rbc-time-content > * + * > * {
	border-left: 1px solid #eee;
}
.rbc-timeslot-group {
	border-bottom: 1px solid #f5f5f5;
}
.rbc-time-view {
	border: 1px solid #f5f5f5;
	border-radius: 5px;
}
