@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* .vt-header {
    height:60px;
}
.vt-filter{
    height:180px
}
.vt-listings-wrap {
    height: calc(100vh - 170px);
    overflow-x: scroll;
}
.vt-showcase {
    margin-top: -70px;
} */
body{
    font-family: 'Poppins';
}
.vt-header {
    height:60px;
}
.vt-filter{
    height:70px
}
.vt-listings-wrap {
    height: calc(100vh - 130px);
    overflow-x: scroll;
}
.vt-showcase {
    /* margin-top: -70px; */
}
